# ignore a file
config.env

# ignore a folder
node_modules/

# ignore all log files
*.log
.env
**/.idea/
# JMeter
Performance-JMeter/performance-report/
Performance-JMeter/reports/
*.jtl
bin/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers

# --- REST-Assured & HyperExecute Fixes ---
# Ignore build artifacts and local caches
**/target/
**/m2_cache_dir/
**/*.class

# Ignore IDE files that cause conflicts
**/*.iml
**/.idea/

**/*.hyperexecute
**/*.updatedhyperexecute.yaml

