<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Suite" parallel="tests" thread-count="1">

    <test name="Chrome Test on Windows 10">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Windows 10"/>


        <classes>
            <class name="webtest" />
            <class name="apitestingsample" />
        </classes>
    </test>

</suite>